Biopython==1.68
pysam==0.11.2.2
coverage==4.4.1
jenkspy==0.1.4
pyutilsnrw==0.1.1
matplotlib==1.5.3
pandas==0.20.1
#heatmapcluster>=0.1.2
pyaml==17.8.0
networkx
nose
# for readthedocs
sphinxcontrib-napoleon
